<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CPanel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>InfluenceCoefficientTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Octree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OctreeUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ReadTriFileTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Solver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WriteOutputFiles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83039DFA191152A300271526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8334B02B192AD2CE008241DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A7DF1618FDF5CA002DDEB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A88C9B190F56F7006A8CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83B4B8BF18F0A90200EEBC34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83B4B8F918F0AF4F00EEBC34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E347C11A17F1A80054842E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
